.commentDiv {
    display: flex;
    justify-content:start;  /* Centers the section horizontally */
    align-items: center;
}

.commentBtn {
    border: 3px solid rgb(154, 168, 113);
    padding: 0px 14px 9px;
    border-radius: 250px;
    font-size: 60px;
    margin-left: 10px;

    display: inline-block;
    background: url('../../public/images/TreeBark.png') no-repeat center;
    -webkit-background-clip: text;
    background-clip: text; /* Standard property */
    -webkit-text-fill-color: transparent;
    text-decoration-color: transparent;
    background-size: cover;
    text-indent: 0;
}

/* Textarea styling */
textarea {
    border: 3px solid rgb(154, 168, 113);
    width: 100%;              /* Make the textarea take full width */
    margin: 0 auto; 
    text-align: left;          /* Ensure the text aligns to the left inside the textarea */
    padding: 10px;             /* Add some padding for a better look */
    box-sizing: border-box; 
    border-radius: 5px;    /* Ensure padding and borders are included in the width */
}

/* Additional styling (optional) */
textarea:focus {
    outline: none;
    border: 3px solid rgb(163, 137, 76); /* Add a border on focus for better user experience */
    border-radius: 5px;        /* Optional: Rounded corners */
}
