.commentDiv {
    display: flex;
    justify-content:start;
    align-items: center;
}

.commentBtn {
    border: 3px solid rgb(154, 168, 113);
    padding: 0px 14px 9px;
    border-radius: 250px;
    font-size: 60px;
    margin-left: 10px;

    display: inline-block;
    background: url('../../public/images/TreeBark.png') no-repeat center;
    -webkit-background-clip: text;
    background-clip: text; /* Standard property */
    -webkit-text-fill-color: transparent;
    text-decoration-color: transparent;
    background-size: cover;
    text-indent: 0;
}

textarea {
    border: 3px solid rgb(154, 168, 113);
    width: 100%; 
    margin: 0 auto; 
    text-align: left;
    padding: 10px; 
    box-sizing: border-box; 
    border-radius: 5px;
}

textarea:focus {
    outline: none;
    border: 3px solid rgb(163, 137, 76);
    border-radius: 5px;
}
