.textImage {
    display: inline;
    font-weight: 700;
    font-size:xx-large;
    text-indent: 0;
    text-shadow: 2px black;
    position: relative; 
    
    background: url('../../public/images/TreeBark.png') repeat;
    background-size: 100px;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    text-decoration-color: transparent;
  }