.textAndBorderImage {
  display: inline-block;
  font-weight: 800;
  text-indent: 0; /* Reset text-indent */
  padding: 2px 8px; /* Adjust padding as needed */
  border-bottom: 3px solid transparent;
  position: relative; 
  
  /* Text background */
  background: url('../../public/images/TreeBark.png') no-repeat center;
  background-size: 100px;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  text-decoration-color: transparent;
  
  /* Border background */
  border-image: url('../../public/images/TreeBark.png') 80 repeat;
  -webkit-border-image: url('../../public/images/TreeBark.png') 80 repeat;  
}

.textImage {
  display: inline;
  font-weight: 800;
  text-indent: 0; /* Reset text-indent */
  padding: 2px 8px; /* Adjust padding as needed */
  position: relative; 
  
  /* Text background */
  background: url('../../public/images/TreeBark.png') no-repeat center;
  background-size: 100px;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  text-decoration-color: transparent;
}

.button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 0;
  background: none; /* No background color */
}

.buttonText {
  display: inline-block;
  background: url('../../public/images/TreeBark.png') no-repeat center;
  -webkit-background-clip: text;
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent;
  text-decoration-color: transparent;
  background-size: cover;
  text-indent: 0; /* Reset text-indent */
}